@charset "UTF-8";
/* SURGE-styles*/
/* Background Img Variables */
/* End Background Img Variables  */
/* Breakpoints */
/* End Breakpoints */
/* Colors & Borders */
/*#eff4f2*/
/* linear-gradient(90deg, #d6dfd1 0%, rgba(214,223,209,0.88) 50%, #fff 100%);  */
/* #eff4f2;  */
/* End Colors & Borders */
/*  Img FX */
/* End Img FX */
/* Transforms & Transitions */
/* End Transforms & Transitions */
/* Shading  */
/* Shading * /

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
/* End Fonts */
/* Mixins */
/* End Mixins */
body {
  color: #222630;
  font-family: "Special Elite", system-ui; }
  body header#header.site-header {
    box-shadow: #777 0 0 40px;
    padding: 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.99);
    width: 100%;
    transition: ease all 0.25s;
    z-index: 99; }
    body header#header.site-header.hide-header {
      transform: translateY(-568px); }
    body header#header.site-header.is-transparent {
      background: rgba(234, 234, 215, 0.55); }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      body header#header.site-header.menu-expanded {
        background-color: white; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      body header#header.site-header.menu-expanded {
        background-color: white; } }
    @media only screen and (min-width: 480px) and (max-width: 576px) {
      body header#header.site-header.menu-expanded {
        background-color: white; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body header#header.site-header.menu-expanded {
        background-color: white; } }
  body header#header .site-title a {
    color: #333;
    font-family: "Special Elite", system-ui;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-left: 15px;
    position: relative;
    top: 7px;
    transition: ease all 0.5s; }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body header#header .site-title a {
        font-size: 29px;
        margin-top: -4px;
        position: absolute;
        margin-right: 38px; } }
    @media only screen and (min-width: 480px) and (max-width: 576px) {
      body header#header .site-title a {
        font-size: 30px;
        margin-top: -4px;
        position: absolute;
        margin-right: 38px; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      body header#header .site-title a {
        font-size: 31px;
        margin-top: -5px;
        position: absolute;
        margin-right: 38px; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      body header#header .site-title a {
        font-size: 32px;
        margin-top: -4px;
        position: absolute;
        margin-right: 38px; } }
    @media only screen and (min-width: 992px) and (max-width: 1023px) {
      body header#header .site-title a {
        font-size: 33px;
        top: -3px;
        position: absolute;
        margin-top: 7px;
        margin-right: 60px; } }
    @media only screen and (min-width: 1023px) and (max-width: 1200px) {
      body header#header .site-title a {
        font-size: 34px;
        top: 15px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      body header#header .site-title a {
        font-size: 37px;
        top: 18px; } }
    @media only screen and (min-width: 1400px) {
      body header#header .site-title a {
        font-size: 36px;
        top: 20px; } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    body header#header nav#navigation {
      margin-right: 10px; } }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    body header#header nav#navigation {
      margin-right: 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    body header#header nav#navigation {
      margin-right: 20px; } }
  @media only screen and (min-width: 992px) and (max-width: 1023px) {
    body header#header nav#navigation {
      margin-right: 25px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    body header#header nav#navigation {
      margin-right: 30px; } }
  @media only screen and (min-width: 1400px) {
    body header#header nav#navigation {
      margin-right: 35px; } }
  @media only screen and (min-width: 0) and (max-width: 480px) {
    body header#header nav#navigation.nav-primary a#menu-icon.menu-icon {
      padding: 7px 30px 16px 0; } }
  @media only screen and (min-width: 480px) and (max-width: 576px) {
    body header#header nav#navigation.nav-primary a#menu-icon.menu-icon {
      padding: 7px 30px 16px 0; } }
  @media only screen and (min-width: 576px) and (max-width: 768px) {
    body header#header nav#navigation.nav-primary a#menu-icon.menu-icon {
      padding: 7px 30px 16px 0; } }
  @media only screen and (min-width: 768px) and (max-width: 992px) {
    body header#header nav#navigation.nav-primary a#menu-icon.menu-icon {
      padding: 7px 30px 16px 0; } }
  body header#header nav#navigation.nav-primary ul.menu {
    border-top: none !important; }
    @media only screen and (max-height: 600px) and (max-width: 1023px) {
      body header#header nav#navigation.nav-primary ul.menu {
        overflow-y: scroll;
        overflow-x: hidden;
        height: 118vh; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body header#header nav#navigation.nav-primary ul.menu {
        left: 0px;
        top: 29px;
        width: 100%;
        margin: 0; } }
    @media only screen and (min-width: 480px) and (max-width: 576px) {
      body header#header nav#navigation.nav-primary ul.menu {
        left: 0px;
        top: 29px;
        width: 100%;
        margin: 0; } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      body header#header nav#navigation.nav-primary ul.menu {
        left: 0px;
        top: 29px;
        width: 100%;
        margin: 0; } }
    @media only screen and (min-width: 768px) and (max-width: 992px) {
      body header#header nav#navigation.nav-primary ul.menu {
        left: 0px;
        top: 29px;
        width: 100%;
        margin: 0; } }
    @media only screen and (min-width: 992px) and (max-width: 1023px) {
      body header#header nav#navigation.nav-primary ul.menu {
        left: 0px;
        top: 29px;
        width: 100%;
        margin: 0; } }
    @media only screen and (min-width: 0) and (max-width: 480px) {
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
        color: black;
        content: " › ";
        font-size: 36px;
        position: absolute;
        margin-left: 88%;
        margin-top: 9px;
        z-index: 9999;
        transform: rotate(90deg);
        transition: ease all 0.25s; }
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
        color: black;
        content: " › ";
        font-size: 37px;
        position: absolute;
        margin-left: 88%;
        margin-top: 2px;
        z-index: 9999;
        transform: rotate(-90deg); } }
    @media only screen and (min-width: 480px) and (max-width: 576px) {
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
        color: black;
        content: " › ";
        font-size: 37px;
        position: absolute;
        margin-left: 88%;
        margin-top: 3px;
        z-index: 9999;
        transform: rotate(90deg);
        transition: ease all 0.25s; }
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
        color: black;
        content: " › ";
        font-size: 39px;
        position: absolute;
        margin-left: 88%;
        margin-top: 11px;
        z-index: 9999;
        transform: rotate(270deg); } }
    @media only screen and (min-width: 576px) and (max-width: 768px) {
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children::before {
        color: black;
        content: " › ";
        font-size: 32px;
        position: absolute;
        margin-left: 88%;
        margin-top: 9px;
        z-index: 9999;
        transform: rotate(90deg);
        transition: ease all 0.5s; }
      body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children.sfHover::before {
        color: black;
        content: " › ";
        font-size: 32px;
        position: absolute;
        margin-left: 88%;
        margin-top: 9px;
        z-index: 9999;
        transform: rotate(-90deg); } }
    body header#header nav#navigation.nav-primary ul.menu li ul li {
      width: 100%; }
      body header#header nav#navigation.nav-primary ul.menu li ul li.current-menu-item {
        background-color: #e4e9de !important;
        outline: dashed 1px gray; }
      body header#header nav#navigation.nav-primary ul.menu li ul li a {
        width: 100%; }
        @media only screen and (min-width: 0) and (max-width: 480px) {
          body header#header nav#navigation.nav-primary ul.menu li ul li a {
            padding-left: 40px; } }
        @media only screen and (min-width: 480px) and (max-width: 576px) {
          body header#header nav#navigation.nav-primary ul.menu li ul li a {
            padding-left: 40px; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          body header#header nav#navigation.nav-primary ul.menu li ul li a {
            padding-left: 40px; } }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          body header#header nav#navigation.nav-primary ul.menu li ul li a {
            padding-left: 40px; } }
        body header#header nav#navigation.nav-primary ul.menu li ul li a:hover, body header#header nav#navigation.nav-primary ul.menu li ul li a:focus, body header#header nav#navigation.nav-primary ul.menu li ul li a:active {
          width: 100% !important; }
      body header#header nav#navigation.nav-primary ul.menu li ul li:last-child {
        border-bottom-right-radius: 15px; }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      body header#header nav#navigation.nav-primary ul.menu li a {
        font-size: 15px; } }
    @media only screen and (min-width: 1400px) {
      body header#header nav#navigation.nav-primary ul.menu li a {
        font-size: 20px; } }
    body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
      transform: rotate(-90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      content: " › ";
      font-size: 33px;
      position: absolute;
      right: 7px;
      top: 10px;
      text-shadow: none;
      text-shadow: none;
      transition: ease all 0.5s; }
      @media only screen and (min-width: 992px) and (max-width: 1023px) {
        body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
          right: 3px;
          bottom: 7px; } }
      @media only screen and (min-width: 1023px) and (max-width: 1200px) {
        body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
          right: 3px;
          top: 6px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1400px) {
        body header#header nav#navigation.nav-primary ul.menu li.menu-item-has-children > a::after {
          right: 3px; } }
    body header#header nav#navigation.nav-primary ul.menu li.current_page_item {
      box-shadow: #d0d8c4 inset 0px 0px 26px -2px;
      outline: dashed 1px; }
      body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
        filter: brightness(0);
        content: '⚓';
        font-size: 12px;
        margin-top: -39px;
        position: absolute;
        z-index: 99; }
        @media only screen and (min-width: 0) and (max-width: 480px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 480px) and (max-width: 576px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 576px) and (max-width: 768px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 768px) and (max-width: 992px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 992px) and (max-width: 1023px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 1023px) and (max-width: 1200px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -39px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -41px;
            margin-left: 14px !important; } }
        @media only screen and (min-width: 1400px) {
          body header#header nav#navigation.nav-primary ul.menu li.current_page_item::after {
            margin-top: -45px;
            margin-left: 14px !important; } }
  body .searchwp-modal-form .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh; }
    body .searchwp-modal-form .search-form input[type="submit"] {
      left: 397px;
      bottom: 88px;
      border: 0;
      clip: rect(0, 0, 0, 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: relative;
      width: 1px;
      display: inline-block;
      background: red;
      height: 91px;
      width: 100px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      right: 12px;
      font-size: 25px;
      z-index: 999; }
  body .site-container .site-inner {
    background: linear-gradient(0deg, #c4c8c3 0%, #a8aba7 24%, #7d7878 100%); }
  body .site-container .banner {
    background-color: black;
    background-image: url(https://surge.ngo/wp-content/themes/composer/images/header.jpg);
    background-position: 20% -24.8333px;
    filter: sepia(40%) saturate(50%) brightness(100%) hue-rotate(80deg); }
    body .site-container .banner.bground1 {
      background-image: url(https://surge.ngo/wp-content/themes/composer/images/surgengo-bground1.jpg) !important; }
    body .site-container .banner.bground2 {
      background-image: url(https://surge.ngo/wp-content/themes/composer/images/surgengo-bground2.jpg) !important; }
    body .site-container .banner.bground3 {
      background-image: url(https://surge.ngo/wp-content/themes/composer/images/surgengo-bground3.jpg) !important; }
    body .site-container .banner.bground4 {
      background-image: url(https://surge.ngo/wp-content/themes/composer/images/surgengo-bground4.jpg) !important; }
    body .site-container .banner.bground5 {
      background-image: url(https://surge.ngo/wp-content/themes/composer/images/surgengo-bground5.jpg) !important; }
    body .site-container .banner .banner-title {
      text-shadow: 1px 2px 6px #000; }
      @media only screen and (min-width: 0) and (max-width: 480px) {
        body .site-container .banner .banner-title {
          font-size: 32px; } }
  body .site-container div.wrap {
    max-width: 1620px; }
    body .site-container div.wrap main.content {
      width: 95%;
      width: 95%;
      border: solid 2px #8e9993;
      box-shadow: 5px 3px 1px 1px rgba(0, 0, 0, 0.12);
      padding: 18px;
      border-radius: 10px;
      background: linear-gradient(0deg, #fff9f6 0%, #e8e8e8 33%, #eff2e3 100%); }
    body .site-container div.wrap main .nf-form-hp {
      position: inherit; }
  body .site-container h1.bground-title {
    font-family: "Special Elite", system-ui;
    letter-spacing: 21px;
    font-size: 400% !important;
    text-shadow: 0 0 10px #000;
    outline: 1px #000;
    text-transform: uppercase; }
  body .site-container .omega-nav-menu {
    font-size: 0; }
    body .site-container .omega-nav-menu li {
      font-family: "Special Elite", system-ui;
      padding: 0 3px 0 0; }
      body .site-container .omega-nav-menu li.sfHover > a {
        background: rgba(255, 255, 255, 0.75);
        box-shadow: 5px 14px 7px -4px #494a4b12; }
        body .site-container .omega-nav-menu li.sfHover > a::after {
          right: 12px;
          top: 30px;
          transform: translateX(5px) rotate(270deg) !important; }
      body .site-container .omega-nav-menu li.item-has-children a::after {
        content: ' › ';
        font-size: 15px; }
      body .site-container .omega-nav-menu li:last-child a:hover, body .site-container .omega-nav-menu li:last-child a:focus, body .site-container .omega-nav-menu li:last-child a:active {
        border-bottom-right-radius: 15px; }
      body .site-container .omega-nav-menu li a {
        color: black;
        padding: 22px 18px 20px 37px;
        text-shadow: 1px 1px 19px #ffe29d;
        font-size: 13px; }
        body .site-container .omega-nav-menu li a::before {
          content: '\00a0\00a0\00a0\00a0\00a0';
          background-image: url("https://surge.ngo/wp-content/themes/composer/images/DasBoot.png");
          background-size: 110px 29px;
          background-repeat: no-repeat;
          color: #6d6666;
          position: absolute;
          right: 41%;
          top: 0;
          text-shadow: none;
          opacity: 0;
          transition: ease all 0.25s;
          font-size: 22px;
          width: 125px;
          z-index: -1; }
          @media only screen and (min-width: 1023px) and (max-width: 1200px) {
            body .site-container .omega-nav-menu li a::before {
              background-position: 13px 37px;
              font-size: 38px;
              top: -36px !important;
              right: 30px !important;
              background-size: 78px 19px; } }
          @media only screen and (min-width: 1200px) and (max-width: 1400px) {
            body .site-container .omega-nav-menu li a::before {
              background-position: 13px 37px;
              font-size: 50px;
              top: -41px !important;
              right: 37px !important;
              background-size: 90px 26px; } }
          @media only screen and (min-width: 1400px) {
            body .site-container .omega-nav-menu li a::before {
              background-position: 13px 37px;
              font-size: 64px !important;
              top: -41px !important;
              right: 44px !important; } }
        body .site-container .omega-nav-menu li a:hover, body .site-container .omega-nav-menu li a:focus, body .site-container .omega-nav-menu li a:active {
          background: rgba(255, 255, 255, 0.15);
          box-shadow: inset 0 0 30px white;
          text-shadow: 1px 1px 19px black;
          outline: dotted #aeaeae 2px; }
          body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
            opacity: 1;
            z-index: -1; }
            @media only screen and (min-width: 0) and (max-width: 480px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important; } }
            @media only screen and (min-width: 480px) and (max-width: 576px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important; } }
            @media only screen and (min-width: 576px) and (max-width: 768px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important; } }
            @media only screen and (min-width: 768px) and (max-width: 992px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important;
                font-size: 25px; } }
            @media only screen and (min-width: 992px) and (max-width: 1023px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important; } }
            @media only screen and (min-width: 1023px) and (max-width: 1200px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -30px !important; } }
            @media only screen and (min-width: 1200px) and (max-width: 1400px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: -15px !important; } }
            @media only screen and (min-width: 1400px) {
              body .site-container .omega-nav-menu li a:hover::before, body .site-container .omega-nav-menu li a:focus::before, body .site-container .omega-nav-menu li a:active::before {
                right: 1px !important; } }
        body .site-container .omega-nav-menu li a:focus, body .site-container .omega-nav-menu li a:focus-visible, body .site-container .omega-nav-menu li a:focus-within {
          outline: dotted;
          border-radius: 3px; }
      body .site-container .omega-nav-menu li:hover > ul {
        margin-top: 0px;
        margin-left: 1px; }
      body .site-container .omega-nav-menu li ul.sub-menu {
        background: rgba(255, 255, 255, 0.99);
        border-bottom-right-radius: 15px;
        padding: 0;
        margin-top: 0;
        margin-left: 0;
        border-top: dashed 1px darkgrey;
        border-bottom: dashed 1px darkgrey !important; }
        @media only screen and (min-width: 992px) and (max-width: 1023px) {
          body .site-container .omega-nav-menu li ul.sub-menu {
            box-shadow: none;
            width: 100%; } }
        @media only screen and (min-width: 1023px) and (max-width: 1200px) {
          body .site-container .omega-nav-menu li ul.sub-menu {
            box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.3);
            width: 22%;
            max-width: 300px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1400px) {
          body .site-container .omega-nav-menu li ul.sub-menu {
            box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.3);
            width: 23%;
            max-width: 400px; } }
        @media only screen and (min-width: 1400px) {
          body .site-container .omega-nav-menu li ul.sub-menu {
            box-shadow: 6px 6px 2px 1px rgba(0, 0, 0, 0.3);
            width: 18%;
            max-width: 480px; } }
  body ul.menu-primary ul {
    border-top: none !important; }
  body .relevanssi-live-search-results {
    margin-top: -10px;
    border-top-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border-left: solid 1px #767676;
    border-bottom: solid 1px gray;
    border-right: solid 1px gray;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin-left: 0;
    margin-top: -20px !important; }
    body .relevanssi-live-search-results a {
      border-bottom: 2px solid #a90000;
      transition: ease all 0.3s;
      text-decoration: none !important; }
      body .relevanssi-live-search-results a:hover {
        color: #a90000;
        border-bottom: 2px solid rgba(0, 0, 0, 0);
        background-color: #a90000;
        color: white;
        padding: 0 0 0 10px; }
  body .site-footer {
    border-top: 1px solid #E9E9E9;
    color: #666;
    font-size: 16px;
    padding: 30px 0;
    text-align: center;
    background-color: #d3cfc4; }
  body .footer-widgets {
    background: none repeat scroll 0 0 #c3beb1;
    border-top: 2px solid #EEE3D7;
    padding: 40px 0 16px; }
    body .footer-widgets a {
      border-bottom: 2px solid #a90000;
      transition: ease all 0.3s;
      text-decoration: none !important; }
      body .footer-widgets a:hover {
        color: #a90000;
        border-bottom: 2px solid rgba(0, 0, 0, 0); }

body .relevanssi-live-search-results {
  border-top-color: rgba(255, 255, 255, 0);
  box-shadow: inset gray 0px 0px 1px 0px;
  border-left: solid 1px #bbb;
  border-bottom: solid 1px #bbb;
  border-right: solid 1px #bbb;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-left: 0px;
  margin-top: -188px; }

.searchwp-modal-form-default .searchwp-modal-form__content {
  background-color: rgba(0, 0, 0, 0);
  padding: 2em;
  border-radius: 2px; }

input, select, textarea {
  background: #fff;
  border: 1px solid #ddd;
  color: #999;
  font-family: "Special Elite", system-ui;
  font-size: 48px;
  padding: 16px;
  max-width: 100%;
  color: black;
  border-radius: 16px; }

.searchwp-modal-form-default .searchwp-modal-form__close {
  line-height: 1em;
  background: yellow;
  padding: 0.4em 0.5em;
  border: 0;
  margin: 0 auto;
  z-index: 9999;
  position: relative;
  bottom: 15px;
  left: 22%;
  color: black;
  font-size: 80px;
  position: relative;
  bottom: 100px; }

.searchwp-modal-form-default .searchwp-modal-form__footer {
  padding-top: 1em;
  position: relative;
  bottom: -45px;
  z-index: 9999999; }

.searchwp-modal-form-default .searchwp-modal-form__close:before {
  font-size: 2em;
  position: fixed;
  top: 35px;
  right: 2%; }

.searchwp-modal-form-default .searchwp-modal-form__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.95;
  background-color: #89a0b9 !important;
  z-index: 1; }

.searchwp-modal-form[aria-hidden="false"] .searchwp-modal-form-default .searchwp-modal-form__overlay {
  z-index: 99; }

.searchwp-modal-form-default .searchwp-modal-form__content {
  background-color: rgba(0, 0, 0, 0);
  padding: 2em;
  border-radius: 2px;
  z-index: -1;
  height: 100vh;
  overflow-y: hidden !important; }

.searchwp-modal-form-default .searchwp-modal-form__content .search-form {
  margin-top: 200px; }
